html,
body {
  margin: 0;
  padding: 0;
}

header {
  background-color: blue;
  height: 80px;
  width: 100%;
}

main {
  background-color: white;
  width: 100%;
  height: 100%;
  display:flex;
  /* flex-wrap: wrap;
  flex-direction: column;*/
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: red;
  height: 80px;
  width: 100%;
}
.flex-container {
  display:flex;
  width: 100vw;
  height: 100vw;
  flex-direction: column;
}
.item {
  /*height: 100px;
  width: 100px;
  margin: 5px;*/
  flex-basis: 100px;
  background-color: #fcf2ec;
}